{% load static %}
<nav class="absolute w-full z-10 px-4">
  <div class="relative flex flex-col">
    {% comment %}
    <!-- Ribbon CTA -->
    <div class="bg-orange-1 py-1.5 flex items-center justify-center gap-2">
      <p class="text-white font-nunito text-sm font-semibold">
        👋 Registration for PyCon APAC 2025 is now open!
      </p>
      <div class="w-[20px] h-[2px] bg-white"></div>
      <div>
        <a class="text-white font-bantayog text-base flex gap-2 items-center" href="#">
          <p>RESERVE YOUR SEATS NOW</p>
          <img src="{% static 'img/vectors/ArrowCircleRight.svg' %}" alt="kliN" class="w-[24px] h-auto" width="24" height="24" />
        </a>
      </div>
    </div>
    {% endcomment %}

    <div class="bg-transparent w-full max-w-[1260px] mx-auto flex pt-8">

      <!-- Site Logo -->
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl">
          <img src="{% static 'img/logo.png' %}"
               alt="PythonAsia 2026"
               class="h-8 w-full max-w-[233px]"
               width="233" height="32" />
        </a>
        {% comment %}
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <li>
              <a class="font-bantayog">About</a>
              <ul class="p-2">
                <li>
                  <a href="#" class="font-bantayog">About the Conference</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">About PythonAsia</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Team</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Venue</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="font-bantayog">Get Involved</a>
              <ul class="p-2">
                <li>
                  <a href="#" class="font-bantayog">Become a Sponsor</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Volunteer</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Speak at the Event</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="font-bantayog">Policies</a>
              <ul class="p-2">
                <li>
                  <a href="#" class="font-bantayog">Code of Conduct</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Privacy Policy</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Terms & Conditions</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="font-bantayog">Attend</a>
              <ul class="p-2">
                <li>
                  <a href="#" class="font-bantayog">Schedule</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Speakers</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Accommodation</a>
                </li>
                <li>
                  <a href="#" class="font-bantayog">Travel Info</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        {% endcomment %}
      </div>


      <div class="flex justify-end items-center gap-7 w-full">
      {% comment %}
        <!-- Header Links -->
        <div class="hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light">About</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="#" class="font-bantayog">About the Conference</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">About PythonAsia</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Team</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Venue</a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light">Get Involved</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="#" class="font-bantayog">Become a Sponsor</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Volunteer</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Speak at the Event</a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light">Policies</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="#" class="font-bantayog">Code of Conduct</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Terms & Conditions</a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light">Attend</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="#" class="font-bantayog">Schedule</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Speakers</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Accommodation</a>
                  </li>
                  <li>
                    <a href="#" class="font-bantayog">Travel Info</a>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
        {% endcomment %}
        <!-- Ticket Button -->
        <div>
          <a href="https://ti.to/pythonph/pythonasia-2026/" target="_blank" class="btn btn-primary btn-wide py-2 px-4 sm:py-3.5 sm:px-8">
            <span class="lg:inline font-bantayog text-base sm:text-xl">Get Tickets</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>
