{% load static %}
<nav class="absolute w-full z-10">
  <div class="relative flex flex-col">
    <!-- Ribbon CTA -->
    <div class="bg-orange-1 py-1.5 flex items-center justify-center gap-2 flex-col sm:flex-row">
      <p class="text-white font-nunito text-sm font-semibold">
        👋 Registration for PythonAsia 2026 is now open!
      </p>
      <div class="w-[20px] h-[2px] bg-white hidden sm:block"></div>
      <div>
        <a href="https://ti.to/pythonph/pythonasia-2026/" target="_blank" class="text-white font-bantayog text-base flex gap-2 items-center">
          <p class="">RESERVE YOUR SEATS NOW</p>
          <img src="{% static 'img/vectors/ArrowCircleRight.svg' %}" alt="kliN" class="w-[24px] h-auto" width="24" height="24" />
        </a>
      </div>
    </div>


    <div class="bg-transparent w-full max-w-[1260px] mx-auto flex pt-8">

      <!-- Site Logo -->
      <div class="navbar-start px-4">
        <a class="btn btn-ghost text-xl">
          <img src="{% static 'img/logo.png' %}"
               alt="PythonAsia 2026"
               class="h-8 w-full max-w-[233px]"
               width="233" height="32" />
        </a>
      </div>


      <div class="flex justify-end items-center gap-7 w-full">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-64 p-2 shadow">
            <li class="relative">
              <a class="font-bantayog">About</a>
              <ul class="p-2">
                <li>
                  <a href="{% url 'everyone-who-can-pays' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Everyone who can, pays</a>
                </li>
              </ul>
            </li>
            <li class="relative">
              <a class="font-bantayog">Get Involved</a>
              <ul class="p-2">
                <li>
                  <a href="{% url 'partnership' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Partnership</a>
                </li>
                <li>
                  <a href="{% url 'volunteers' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Volunteers</a>
                </li>
                <li>
                  <a href="{% url 'patron-acknowledgment' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Patron Acknowledgment</a>
                </li>
              </ul>
            </li>
            <li class="relative">
              <a class="font-bantayog">Policies</a>
              <ul class="p-2">
                <li>
                  <a href="{% url 'covid-policy' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Covid Policy</a>
                </li>
                <li>
                  <a href="{% url 'data-privacy' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Data Privacy</a>
                </li>
                <li>
                  <a href="{% url 'code-of-conduct' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Code of Conduct</a>
                </li>
              </ul>
            </li>
            <li class="relative">
              <a class="font-bantayog">Attend</a>
              <ul class="p-2">
                <li>
                  <a href="{% url 'travel-info' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Travel Info</a>
                </li>
                <li>
                  <a href="{% url 'aid-scholarships' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Aid & Scholarships</a>
                </li>
                <li>
                  <a href="{% url 'schedule' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Schedule</a>
                </li>
              </ul>
            </li>
            <li class="mt-2">
              <a href="https://ti.to/pythonph/pythonasia-2026/" target="_blank" class="btn btn-primary w-full text-center">Get Tickets</a>
            </li>
          </ul>
        </div>
        <!-- Header Links -->
        <div class="hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light hover:text-orange-2 cursor-pointer">About</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="{% url 'everyone-who-can-pays' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Everyone who can, pays</a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light hover:text-orange-2 cursor-pointer">Get Involved</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="{% url 'partnership' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Partnership</a>
                  </li>
                  <li>
                    <a href="{% url 'volunteers' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Volunteers</a>
                  </li>
                  <li>
                    <a href="{% url 'patron-acknowledgment' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Patron Acknowledgment</a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light hover:text-orange-2 cursor-pointer">Policies</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="{% url 'covid-policy' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Covid Policy</a>
                  </li>
                  <li>
                    <a href="{% url 'data-privacy' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Data Privacy</a>
                  </li>
                  <li>
                    <a href="{% url 'code-of-conduct' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Code of Conduct</a>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary class="font-bantayog text-xl text-brown-1 font-light hover:text-orange-2 hover:bg-orange-1 cursor-pointer">Attend</summary>
                <ul class="p-2 bg-base-100 rounded-box z-[1] w-52 shadow">
                  <li>
                    <a href="{% url 'travel-info' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Travel Info</a>
                  </li>
                  <li>
                    <a href="{% url 'aid-scholarships' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Aid & Scholarships</a>
                  </li>
                  <li>
                    <a href="{% url 'schedule' %}" class="font-bantayog hover:text-orange-2 hover:bg-transparent">Schedule</a>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
        <!-- Ticket Button (desktop only) -->
        <div class="hidden lg:block">
          <a href="https://ti.to/pythonph/pythonasia-2026/" target="_blank" class="btn btn-primary btn-wide py-2 px-4 sm:py-3.5 sm:px-8">
            <span class="lg:inline font-bantayog text-base sm:text-xl">Get Tickets</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>
