{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
  <div class="min-h-screen bg-contain bg-center" style="background-image: url('{% static 'img/bg-conference-at-glance.png' %}');">

    {% include "home/components/navbar.html" %}

    <div class="max-w-3xl mx-auto px-6 pt-40 pb-18">
      <article class="max-w-4xl mx-auto rounded-lg shadow-lg p-8">
        <h1 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2">{{ page.title }}</h1>
        <div class="prose prose-lg max-w-none">
          {{ page.content|safe }}
        </div>
      </article>
    </div>

    <!-- Footer -->
    {% include "home/sections/footer.html" %}
  </div>
</main>
{% endblock %}
