@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@plugin "daisyui";

:root {
  --color-primary: #f26d1d;

  /* === Orange / Accent === */
  --orange-1: #bd4b06;
  --orange-2: #f26d1d;
  --orange-3: #ffa218;

  /* === Neutral === */
  --white: #ffffff;
  --offwhite-1: #fff9f2;
  --offwhite-2: #fff4e6;
  --offwhite-3: #fff3e5;

  /* === Browns === */
  --brown-1: #84400f;
  --brown-2: #7c5e3b;
  --brown-3: #b04301;

  /* === Light Backgrounds === */
  --bg-cream-1: #f8ebe5;
  --bg-cream-2: #ffe7d5;
  --bg-cream-3: #f8f0e5;

  /* === Stroke / Borders === */
  --stroke-1: #212121;
}

@font-face {
  font-family: "Bantayog";
  src: url("/static/fonts/Bantayog-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Bantayog";
  src: url("/static/fonts/Bantayog-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bantayog";
  src: url("/static/fonts/Bantayog-Semilight.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Niwanguno";
  src: url("/static/fonts/NiwangUno-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TD Pinoy";
  src: url("/static/fonts/TD_Pinoy.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

body {
  background-color: var(--offwhite-1);
  color: var(--brown-2);
  font-size: 24px;
}

.font-bantayog {
  font-family: "Bantayog", sans-serif;
}

.font-niwanguno {
  font-family: "Niwanguno", sans-serif;
}

.font-td_pinoy {
  font-family: "TD Pinoy", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-orange-1 {
  background-color: var(--orange-1);
}
.bg-orange-2 {
  background-color: var(--orange-2);
}
.bg-white {
  background-color: var(--white);
}
.bg-offwhite-1 {
  background-color: var(--offwhite-1);
}
.bg-offwhite-2 {
  background-color: var(--offwhite-2);
}
.bg-offwhite-3 {
  background-color: var(--offwhite-3);
}
.bg-cream-1 {
  background-color: var(--bg-cream-1);
}
.bg-cream-2 {
  background-color: var(--bg-cream-2);
}
.bg-cream-3 {
  background-color: var(--bg-cream-3);
}
.bg-transparent {
  background-color: transparent;
}

.text-orange-2 {
  color: var(--orange-2);
}
.text-orange-3 {
  color: var(--orange-3);
}
.text-brown-1 {
  color: var(--brown-1);
}
.text-brown-2 {
  color: var(--brown-2);
}
.text-brown-3 {
  color: var(--brown-3);
}
.text-white {
  color: var(--white);
}

.border-stroke-1 {
  border-color: var(--stroke-1);
}

/* Buttons */
.bg-primary-btn {
  background-color: var(--orange-2);
  color: var(--white);
}
.bg-secondary-btn {
  background-color: var(--white);
  color: var(--brown-1);
}

/* START: Custom CSS Here */

#hero {
  background: url("../../static/img/python-asia-bg.png") bottom / 100% no-repeat;
}

.python-kalinga-pot {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-15vh);
}

.python-kalinga-pot .pot {
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-3.5vw);
  margin-bottom: 45px;
}

.bg_call-for-links {
  background: url("../../static/img/call-for-links.png") center center / cover
    no-repeat;
}

/* Media Query */

@media screen and (max-width: 1570px) {
  .cstm_break.about-us_break {
    display: none;
  }
}

@media screen and (max-width: 1411px) {
  .cstm_break {
    display: none;
  }
}

@media screen and (max-width: 1411px) and (min-width: 1280px) {
  #about-us {
    padding: 250px 0 80px;
  }
}

@media screen and (max-width: 1300px) {
  .python-kalinga-pot .pot {
    width: 100%;
    max-width: 400px;
    transform: translateX(-3.5vw);
    margin-bottom: 45px;
  }

  #hero {
    background-size: cover;
    background-position: center;
  }

  .python-kalinga-pot {
    transform: translateY(-8vh);
  }
}

@media screen and (max-width: 768px) {
  .python-kalinga-pot .pot {
    width: 100%;
    max-width: 280px;
    transform: translateX(-3.5vw);
    margin-bottom: 20px;
  }

  .python-kalinga-pot {
    transform: translateY(-5vh);
  }
}

@media screen and (max-width: 768px) {
  .python-kalinga-pot .pot {
    width: 100%;
    max-width: 280px;
    transform: translateX(-3.5vw);
    margin-bottom: 20px;
  }

  .python-kalinga-pot {
    transform: translateY(-5vh);
  }

  .python-kalinga-pot .co-organized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .python-kalinga-pot .co-organized img {
    width: 100%;
    max-height: 60px !important;
  }

  .python-kalinga-pot .justify-self-end.self-center {
    justify-self: unset;
  }
}
