{% load static %}

<div class="max-w-3xl mx-auto px-6 pt-40 pb-18">
  <div>
    <h2 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2">
      Covid Policy
    </h2>

    <div class="content-body font-nunito text-brown-2 text-lg leading-relaxed">

      <h3 class="font-bantayog text-brown-1 font-bold text-2xl my-4">
        Short Version
      </h3>
      <p class="mb-4">
        As we gather for PythonAsia 2026, our priority is the health and safety of our community. We are closely monitoring COVID-19 guidelines and will update our policies as needed.
      </p>

      <h3 class="font-bantayog text-brown-1 font-bold text-xl my-2">Before the Event</h3>
      <ul class="list-disc list-inside mb-4 space-y-1">
        <li>If you're feeling unwell, please stay home.</li>
        <li>We encourage vaccination for all attendees.</li>
      </ul>

      <h3 class="font-bantayog text-brown-1 font-bold text-xl my-2">During the Event</h3>
      <ul class="list-disc list-inside mb-6 space-y-1">
        <li>Masks are optional but recommended for those who wish to use them.</li>
        <li>Hand sanitizers will be readily available.</li>
        <li>Should you feel unwell, we're prepared to assist you.</li>
      </ul>
      <p class="mb-6">
        Let's enjoy the event responsibly!
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-2xl my-4">
        Long Version
      </h5>
      <p class="mb-4">
        Ensuring a Safe Conference Experience
      </p>
      <p class="mb-6">
        We are excited to welcome you to PythonAsia 2026. Our commitment to the safety of our participants, speakers, and staff remains steadfast. We are guided by the latest health standards and are prepared to adapt as necessary.
      </p>

      <h3 class="font-bantayog text-brown-1 font-bold text-xl my-2">
        Pre-Conference Measures
      </h3>

      <ul class="list-disc list-inside mb-6 space-y-1">
        <li><strong>Vaccination:</strong> Full vaccination against COVID-19 is strongly advised for all attendees.</li>
        <li><strong>Health Screening:</strong> We ask that you self-monitor for any symptoms prior to attending. If you're unwell, we support your decision to stay home.</li>
      </ul>

      <h3 class="font-bantayog text-brown-1 font-bold text-xl my-2">
        During the Conference
      </h3>

      <ul class="list-disc list-inside mb-6 space-y-1">
        <li><strong>Masking:</strong> While not mandatory, we welcome the use of masks, especially in enclosed or crowded spaces. Complimentary masks will be available.</li>
        <li><strong>Hygiene Practices:</strong>
          <ul class="list-disc list-inside ml-5 space-y-1">
            <li>Hand sanitizing stations will be available throughout the venue.</li>
            <li>Regular cleaning and disinfection of high-touch areas will be conducted.</li>
            <li>Ventilation: We will ensure well-ventilated spaces to reduce the risk of airborne transmission.</li>
          </ul>
        </li>
        <li><strong>Response to Symptoms:</strong> Our team will be ready to support any participant who may develop symptoms, with protocols in place to ensure their well-being.</li>
      </ul>

      <h3 class="font-bantayog text-brown-1 font-bold text-xl my-2">
        Post-Conference
      </h3>

      <ul class="list-disc list-inside mb-6 space-y-1">
        <li><strong>Notification of Illness:</strong> If you test positive for COVID-19 within 14 days after the event, please notify the organizers to assist with contact tracing efforts.</li>
        <li><strong>Policy Updates:</strong> Any updates to our COVID-19 policy will be communicated directly to participants and posted on our website and official social media.</li>
      </ul>

      <p class="mb-6">
        We are dedicated to providing a safe and enjoyable experience at PythonAsia 2026. Your health and safety are our top priorities, and we thank you for your cooperation and understanding.
      </p>

    </div>
  </div>
</div>
