{% load static %}

<div class="max-w-3xl mx-auto px-6 py-24">
  <div class="mb-24">
    <h2 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2">
      Data Privacy Policy
    </h2>

    <div class="content-body font-nunito text-brown-2 text-lg leading-relaxed">

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        1. Introduction
      </h5>
      <p class="mb-6">
        Welcome to PyCon APAC 2025! We are dedicated to protecting the privacy and security of your personal information. This policy outlines how we collect, use, and safeguard your data.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        2. Information Collection
      </h5>
      <p class="mb-6">
        We collect information that you provide directly, such as when you register for the event, contact us for inquiries, or engage with us on social media. This may include your name, email address, phone number, and professional details.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        3. Use of Information
      </h5>
      <ul class="list-disc list-inside mb-6 space-y-1">
        <li>Facilitate event organization and communication.</li>
        <li>Provide updates and information about PyCon APAC 2025.</li>
        <li>Enhance our events and services.</li>
      </ul>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        4. Data Sharing and Disclosure
      </h5>
      <p class="mb-4">
        We do not sell your personal information. We may share your information with third parties in the following scenarios:
      </p>
      <ul class="list-disc list-inside mb-6 space-y-1">
        <li>With service providers aiding in our operations (under confidentiality agreements).</li>
        <li>When legally required or to protect our rights and safety.</li>
        <li><strong>Opt-In Sharing with Sponsors:</strong> Some of your contact details provided during registration may be shared with our sponsors. However, this will always be opt-in, and you have the full right to choose whether to share this information (consent is key 🔑).</li>
      </ul>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        5. Data Security
      </h5>
      <p class="mb-6">
        We implement reasonable measures to protect your information from unauthorized access, alteration, or destruction. However, no internet-based site is 100% secure, thus we cannot ensure absolute security.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        6. Data Retention
      </h5>
      <p class="mb-6">
        We keep your personal information as long as necessary for the purposes outlined in this policy, unless a longer retention period is mandated or permitted by law.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        7. Your Rights
      </h5>
      <p class="mb-6">
        You have the right to access, correct, or delete your personal information. You can also opt out of receiving our communications at any time.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        8. Changes to the Policy
      </h5>
      <p class="mb-6">
        We may occasionally update this policy. The most current version will always be posted on our website.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">
        9. Contact Us
      </h5>
      <p class="mb-6">
        If you have any questions or concerns regarding our privacy practices, please contact us at <a href="mailto:privacy@python.ph" class="text-orange-2 underline">privacy@python.ph</a>.
      </p>

    </div>
  </div>
</div>
