{% load static %}

<div class="max-w-3xl mx-auto px-6 pt-40 pb-18">
  <div>
    <h2 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2">Everyone who can, pays</h2>

    <div class="content-body font-nunito text-brown-2 text-lg leading-relaxed">
      <h5 class="font-bantayog text-brown-1 font-bold text-2xl my-4">
        Purpose of This Policy
      </h5>
      <p class="mb-4">
        We are advocating an "Everybody who can pay for their tickets, pays for their tickets" idea.
      </p>
      <p class="mb-4">
        This is a way to remind people to think on a larger scale—small contributions when done by almost everyone can actually make a huge difference.
      </p>
      <p class="mb-6">
        We try to help more people with less money than less people with more money.
      </p>

      <h4 class="font-bantayog text-brown-1 font-bold text-2xl my-6">
        Why are we doing this?
      </h4>

      <p class="mb-4">
        The idea is to encourage those who can pay to contribute financially and list strong reasons why we make a distinction between a corporate ticket, an individual ticket, and a student ticket.
      </p>

      <ul class="list-disc list-inside mb-6 space-y-2">
        <li>The corporate price is the actual price of the conference ticket.</li>
        <li>The individual and student tickets are subsidized rates brought possible by sponsorship and other corporate ticket buyers to make the price more accessible for people with stricter budgets.</li>
        <li>We bring in (airfare, accommodations) both foreign and local speakers to share their knowledge and experience to our participants. This makes PyCon PH a global experience despite being a local one!</li>
        <li>The venue, food, videographer, marketing collateral, etc. cost a lot of money. Without sponsors and corporate ticket buyers, we won't be able to pay for those.</li>
        <li>Running a non-profit organization costs money too! PyCon is our main fund-generating activity to cover operational costs. PythonPH is lucky enough to have volunteers who work for free for the past 13 years but there are still things that can't be paid with their time.</li>
        <li>Collectively, PyCons across the world adopt an "Everybody Pays" policy <a href="https://archive.md/mkiUX" class="text-orange-2 underline" target="_blank">[1]</a></li>
      </ul>

      <p class="mb-4">
        Some volunteers choose to buy corporate tickets because they understand and want to support us with their time and money.
      </p>
      <p class="mb-4">
        Some volunteers have even sponsored, adding not only their time but their own money to make this event possible.
      </p>
      <p class="mb-6">
        Companies who truly understand the value of our community and the growth of their employees choose to buy corporate tickets to support us.
      </p>

    </div>
  </div>
</div>
