{% load static %}

<div class="max-w-3xl mx-auto px-6 py-24">
  <div class="mb-24">
    <h2 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2">Everyone who can, pays</h2>

    <div class="content-body font-nunito text-brown-2 text-lg leading-relaxed">
      lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
