{% load static %}

<div class="max-w-3xl mx-auto px-6 pt-40 pb-18">
  <div>
    <h2 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2">Partnership</h2>

    <div class="content-body font-nunito text-brown-2 text-lg leading-relaxed">
      <h3 class="font-bantayog text-brown-1 font-bold text-2xl my-6">Partner With Us</h3>
      <p class="mb-4">
        At Python Philippines (PythonPH), we're more than a community; we're a force for innovation and collaboration in the tech world, actively driving positive change. For PythonAsia 2026, we seek partnerships with non-profits dedicated to advancing Python and leveraging technology for social good. Together, we aim to foster a flourishing Python community and drive technological progress in the Philippines and Asia.
      </p>

      <h3 class="font-bantayog text-brown-1 font-bold text-2xl my-6">Why Partner With Us?</h3>
      <p class="mb-6">
        Partnering with PythonPH offers the chance to be part of a transformative journey. It's an opportunity to align with a community dedicated to Python development and to contribute meaningfully to the professional and personal growth of tech enthusiasts across the Philippines and Asia.
      </p>

      <h3 class="font-bantayog text-brown-1 font-bold text-2xl my-6">Our Ideal Partner</h3>
      <p class="mb-4">
        We are looking for non-profit organizations and community-focused entities that:
      </p>
      <ul class="list-disc list-inside mb-6 space-y-2">
        <li>Align with our mission of open-source development and community growth.</li>
        <li>Directly contribute to or support the Python ecosystem.</li>
        <li>Are committed to promoting diversity and inclusivity in technology.</li>
        <li>Uphold ethical and non-predatory practices, firmly standing against exploitative marketing, unfair labor practices, and other unethical activities.</li>
        <li>Foster grassroots, community-driven initiatives.</li>
      </ul>

      <h3 class="font-bantayog text-brown-1 font-bold text-2xl my-6">Note for For-Profit Organizations</h3>
      <p class="mb-6">
        For-profit entities interested in supporting PythonAsia 2026 are encouraged to consider sponsorship opportunities.
      </p>

      <h3 class="font-bantayog text-brown-1 font-bold text-2xl my-6">Get in Touch</h3>
      <p class="mb-4">
        If your organization shares our vision for a vibrant Python community, we would love to explore partnership possibilities with you. Together, we can make PythonAsia 2026 a landmark event, driving innovation and community development.
      </p>

      <h5 class="font-bantayog text-brown-1 font-bold text-lg my-4">Contact Us</h5>
      <p class="mb-4">
        To discuss partnership opportunities, please reach out to us at <a href="mailto:marketing@python.ph" class="text-orange-2 underline">marketing@python.ph</a>. We look forward to building a strong, collaborative future together at PythonAsia 2026.
      </p>
    </div>
  </div>
</div>
