{% load static %}

<div class="max-w-5xl mx-auto px-6 pt-40 pb-18">
  <div>
    <h2 class="text-5xl my-10 font-bold font-td_pinoy text-orange-2 leading-[1.5]">
      PythonAsia 2026 <br>Committee & Volunteer Directory
    </h2>

    <div class="content-body font-nunito text-brown-2 text-lg leading-relaxed overflow-x-auto">
      <table class="w-full border-collapse rounded-2xl overflow-hidden shadow-sm">
        <thead>
          <tr class="text-white text-left" style="background-color: #6B4226;">
            <th class="p-6 font-bantayog text-base">Committee</th>
            <th class="p-6 font-bantayog text-base">Point Person / Co-Leads</th>
            <th class="p-6 font-bantayog text-base">Committee Members</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-brown-200 [&>tr]:bg-white [&>tr:nth-child(even)]:bg-[#f8ebe5]">
          <tr>
            <td class="p-6 font-semibold">Chairs & Ops</td>
            <td class="p-6">Angeline Jores,<br>Michelle Jane Francesca Nava</td>
            <td class="p-6">
              Matt Lebrun,<br>
              Micaela Reyes,<br>
              Sony Valdez,<br>
              Zorex Salvo,<br>
              Ciara Bautista,<br>
              Rodney Lei Estrada,<br>
              Cyrus Mante
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Registration, Helpdesk, & Feedback</td>
            <td class="p-6">Novelle Lyn Estrella,<br>Ellaine Dela Cruz</td>
            <td class="p-6">
              Jim Aerol Barcos,<br>
              Carl John Viñas,<br>
              Alfredo Santos III,<br>
              Alec Marx Gabriel Nono,<br>
              Margaret Patrice M. Ramos,<br>
              Jean Rondel R. Ponce,<br>
              Evan De Guzman, <br>
              Arjay Rosel, <br>
              Rainier Joshua Reyes, <br>
              Almira Zabrina Alyson Velasquez, <br>
              Jonalaine Aporado
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Ticketing & Receipt</td>
            <td class="p-6">Angelo Joe Delos Santos,<br>Ciara Bautista</td>
            <td class="p-6">April Joy Daeng,<br>Maxine Sofia Llamas</td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Program</td>
            <td class="p-6">Ben Iglesia</td>
            <td class="p-6">
              Rafael Paderna,<br>
              Stephanie Palero,<br>
              Wesly Kate Talan,<br>
              Mark Joseph B. Neypes,<br>
              Jessy Cassandra M. Mapanao
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Emcees</td>
            <td class="p-6">Aida Delos Reyes,<br>Sonya Lee</td>
            <td class="p-6">
              Will Vincent Parrone,<br>
              Alysson Alvaran,<br>
              Angelica Lapastora,<br>
              Samantha Magpayo,<br>
              Angelo Laus,<br>
              Lee Chavez,<br>
              Syruz Ken Domingo,<br>
              Sofia Cunanan,<br>
              Gwyenth Lim,<br>
              Fionna Desserei Baculi
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Stagehand</td>
            <td class="p-6">Arjohn Capucion,<br>Von Louie Cruto</td>
            <td class="p-6 text-brown-400">
              Kelcey Cruz,<br>
              Joshua Abalo,<br>
              Rhian N. Baja,<br>
              Kathleen Nea Macaspac, <br>
              Matthew Kristoffer Ong, <br>
              Andrei Luis Balingit
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Swags</td>
            <td class="p-6">Rodney Lei Estrada,<br>Christian Joseph Zamora</td>
            <td class="p-6">Ashley Nicole S. Fullero</td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Logistics</td>
            <td class="p-6">Danyssa Tamayo,<br>Joshua Kyle Beltran</td>
            <td class="p-6">
              Kurt Anthony Cruz,<br>
              Manuelle Alexie Bukas,<br>
              Matt Lebrun,<br>
              Cherry Mae Macababbad,<br>
              Nicole Libunao,<br>
              Jerico Lim,<br>
              Renzel Vince E. Eleydo,<br>
              Juan Titus S. Rodriguez,<br>
              Sam Sanchez,<br>
              Pai Tano,<br>
              Patrick Hans Perez,<br>
              Kiona Moria Aguana
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Sponsorship</td>
            <td class="p-6">Jericho Peñaflor,<br>Jashlein Leanne T. Marquez</td>
            <td class="p-6">
              Renz Carlo Caritativo,<br>
              Madelene Ragas,<br>
              Sofia Cunanan,<br>
              Sofia Cassandra Ong,<br>
              Micaela Reyes,<br>
              Daniela Joaquin,<br>
              Brylle Ace Nuñez
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Marketing</td>
            <td class="p-6">Lalaine Lery Diok,<br>Luke Mark Leona,<br>Marco Dalanon,<br>Pierre Zurbito,<br> Michie Ang</td>
            <td class="p-6">
              Lindsay Gloria Diok,<br>
              Rosiel Villareal,<br>
              Christian Paulo Argete,<br>
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Design</td>
            <td class="p-6">Jericho Del Rosario,<br>Alex Reyes,<br>Vince Gabrielle Lita</td>
            <td class="p-6">
              Juliana Krey Francisco,<br>
              Kien Leriss R. Serapio,<br>
              Francine Nastassja Jara
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Website</td>
            <td class="p-6">Zorex Salvo</td>
            <td class="p-6">Kyle Shaun Aquino,<br>Renan Matthew Fajardo</td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Security & COC</td>
            <td class="p-6">Dave Matthew S. Punzalan,<br>Arjhine Ty</td>
            <td class="p-6">
              Joshua Tumamao, <br>
              Juztyn De Guzman Pascua, <br>
              Lea Llames, <br>
              Christine Gel,<br>
              Manuel Carlos U. Tanchiao, <br>
              Raphael Glendhel T. Romero, <br>
              Margaret Patrice M. Ramos, <br>
              Cassandra Lujille Servo, <br>
              Raphel Angelo Mercado
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Education Summit</td>
            <td class="p-6">John Gavin Deposoy,<br>Mark Joseph B. Neypes</td>
            <td class="p-6">
              Carl Jayvin Lee,<br>
              Farhana Lardizabal,<br>
              John Paul Curada, <br>
              Zabella Imperial, <br>
              Dinnah Feye Andal, <br>
              Trisha Alissandra Sayo, <br>
              Jose Maria Angelo Guerra, <br>
              Edmar Dizon
            </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Concierge & Culture Ambassador</td>
            <td class="p-6">Guennevere Rito,<br>
              Mark Rhey Anthony De Luna</td>
            <td class="p-6">
              Angelique Anne Valdez,<br>
              Arjay Balboa,<br>
              Jamaine Tuazon,<br>
              Janna Victoria Cofreros
              </td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Discord Moderator</td>
            <td class="p-6">Ellaine Dela Cruz</td>
            <td class="p-6 text-brown-400">Luis Miguel Cruz</td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">PyCon Sprint</td>
            <td class="p-6">Sony Valdez</td>
            <td class="p-6 text-brown-400">—</td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Newsletter</td>
            <td class="p-6">Syruz Ken Domingo</td>
            <td class="p-6 text-brown-400">—</td>
          </tr>

          <tr>
            <td class="p-6 font-semibold">Documentation</td>
            <td class="p-6">Cyrus Mante,<br>Janine Bagares</td>
            <td class="p-6">
              Justin Leigh Domingo,<br>
              Clarisse Jem Salazar,<br>
              Don Dominic Garcia,<br>
              Charisse Jen Salazar
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
