{% load static %}

<!-- HTML Meta Tags -->
<meta name="description"
    content="The flagship gathering for Python enthusiasts across Asia — uniting diverse communities across the region.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://2026.pythonasia.org">
<meta property="og:type" content="website">
<meta property="og:title" content="PythonAsia 2026">
<meta property="og:description"
    content="The flagship gathering for Python enthusiasts across Asia — uniting diverse communities across the region.">
<meta property="og:image" content="{% static 'img/pythonasia2026-banner.png' %}">

<!-- X Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="2026.pythonasia.org">
<meta property="twitter:url" content="https://2026.pythonasia.org">
<meta name="twitter:title" content="PythonAsia 2026">
<meta name="twitter:description"
    content="The flagship gathering for Python enthusiasts across Asia — uniting diverse communities across the region.">
<meta name="twitter:image" content="{% static 'img/pythonasia2026-banner.png' %}">