{% load static %}
<section id="about-us" class="py-20 text-white" style="background-color: #BD4B06">
    <div class="container mx-auto px-6">
        <!-- Header -->
        <div class="text-center mb-16">
            <h2 class="text-5xl md:text-6xl font-bold mb-12 font-td_pinoy">What is PythonAsia?</h2>
        </div>
        <!-- Main Content -->
        <div class="text-center px-8 md:px-16 lg:px-24 w-full max-w-[975px] mx-auto">
            <h3 class="text-2xl font-bold mb-6 uppercase font-bantayog">
                The Flagship Gathering for Python Enthusiasts Across Asia - Uniting Diverse Communities across the
                region
            </h3>
            <p class="text-base leading-relaxed font-nunito">
                Previously known as PyCon APAC, the conference has a long history of bringing together developers,
                students, educators, researchers, and industry leaders to collaborate, exchange ideas, and build lasting
                connections. Its goal remains to create a space for exploring, discussing, and applying Python and its
                surrounding technologies across the Asia-Pacific region. Past hosts include Singapore, Japan, Taiwan,
                South Korea, Malaysia, Thailand, Indonesia, and the Philippines. The event is hosted annually in
                different countries.
                <br />
                <br />
                Starting 2026, the event takes on its new identity as PythonAsia, co-organized with the Python Asia
                Organization (PAO). PythonAsia 2026 will be proudly hosted in the Philippines once again, building on
                the success of PyCon APAC 2025 and with the continued support of the local Python community through
                PythonPH in collaboration with PAO.
                <br />
                <br />
                Like PyCon APAC, PythonAsia expands the local Python community’s reach to an international audience,
                creating opportunities for deeper collaboration and knowledge sharing across diverse cultures and
                industries throughout the Asia region.
                <br />
                <br />
            </p>
        </div>
        <div class="flex justify-center items-center mb-12">
            <div class="relative">
                <img src="{% static 'img/about-us-photo.png' %}" alt="PyCon PH 2025 Conference" width="800"
                    height="600">
            </div>
        </div>
        <!-- 3 Days Section -->
        <div class="mb-12 w-full max-w-[1160px] mx-auto">
            <h3 class="text-5xl font-bold mb-8 font-td_pinoy text-center sm:text-left xl:text-left">3 Days, Endless
                Possibilities</h3>
            <p class="text-lg leading-relaxed font-nunito text-center sm:text-left xl:text-left">
                Dive into three days of learning, building, and connecting with the Python community. From inspiring
                talks to hands-on sprints, PythonAsia is where ideas spark, skills grow, and collaborations begin.
                Whether you're a first-time attendee or a seasoned contributor, there's something here for everyone.
            </p>
        </div>
        <!-- Features Grid -->
        <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 gap-10 mb-16 w-full max-w-[1160px] mx-auto">
            <!-- Inspiring Keynotes -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/star-icon.svg' %}" alt="Inspiring Keynotes" width="64"
                        height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Inspiring Keynotes</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Hear inspiring talks from core contributors, community leaders, and innovators shaping Python across
                    Asia and beyond
                </p>
            </div>
            <!-- Talks & Lightning Talks -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/conversation-icon.svg' %}" alt="Talks & Lightning Talks" width="64"
                        height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Talks & Lightning Talks</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    From deep-dive sessions to quick, punchy insights, learn from diverse voices across the Python
                    community.
                </p>
            </div>
            <!-- Multi-Track & Live Workshops -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/icon-multitrack-and-live.svg' %}"
                        alt="Multi-Track & Live Workshops" width="64" height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Multi-Track & Live Workshops</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Dive into AI/ML, Data Science, DevOps, Open Source, and region-specific use cases powering
                    real-world impact.
                </p>
            </div>
            <!-- Community Gatherings -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/icon-community-gatherings.svg' %}" alt="Community Gatherings"
                        width="64" height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Community Gatherings</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Join special sessions like the PyLadies Lunch, and Open Spaces — designed to spark conversations and
                    build connections.
                </p>
            </div>
            <!-- Career Mixer -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/icon-career-mixer.svg' %}" alt="Career Mixer" width="64"
                        height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Career Mixer</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Meet potential employers, collaborators, and mentors in a relaxed, networking-focused environment.
                </p>
            </div>
            <!-- Sponsor Booths & Stamp Quest -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/icon-sponsor-booths.svg' %}" alt="Sponsor Booths & Stamp Quest"
                        width="64" height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Sponsor Booths & Stamp Quest</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Explore sponsor showcases, discover new opportunities, and complete our signature Stamp Collection
                    Quest for fun tokens, prizes, and new connections.
                </p>
            </div>
            <!-- Open Source Sprints -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/hands-on-icon.svg' %}" alt="Open Source Sprints" width="64"
                        height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Open Source Sprints</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Team up with maintainers and peers (bring your laptop!) to contribute to open source, then connect
                    at our career fair.
                </p>
            </div>
            <!-- Education Summit -->
            <div
                class="flex flex-col items-center justify-center sm:items-start sm:justify-start xl:items-start xl:justify-start">
                <div class="inline-block mb-2">
                    <img src="{% static 'img/vectors/icon-education-summit.svg' %}" alt="Education Summit" width="64"
                        height="64" />
                </div>
                <h4 class="text-xl font-bold uppercase mb-3 font-bantayog">Education Summit</h4>
                <p class="text-sm font-nunito w-full max-w-[305px] text-center sm:text-left xl:text-left">
                    Co-organized with De La Salle University (DLSU), this special track brings together educators,
                    students, and practitioners to explore how Python is shaping learning and research in Asia
                </p>
            </div>
        </div>
        <!-- Call to Action -->
        <div class="text-center bg-[#B04301] p-[30px] pb-10 rounded-2xl">
            <p class="text-lg mb-2 uppercase tracking-wide font-bantayog">
                Join hundreds of developers, students, educators, researchers, and community leaders from across Asia
                for 3 days of
            </p>
            <h3 class="md:text-6xl sm:text-4xl font-bold uppercase font-td_pinoy">Learning, Inspiration, and Connection
            </h3>
        </div>
    </div>
</section>
