{% load static %}
<section id="annoucement" class="py-20 bg-[#FFF9F2]">
  <div class="w-full max-w-[1160px] mx-auto px-6 flex gap-[30px]">
    <div class="w-[45%] max-w-[510px]">
      <div>
        <h2 class="text-orange-2 text-6xl leading-[120%] tracking-[2%] font-td_pinoy">
          Announcement
        </h2>
      </div>
      <img src="{% static 'img/py_kalinga-pot.png' %}" alt="Python Kalinga Pot" class="w-full max-w-[350px]" width="350" height="350" />
    </div>
    <div class="w-[55%] max-w-[620px] flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        <div class="bg-[#FFF3E5] rounded-2xl flex gap-5 p-[20px]">
          <div class="font-bantayog flex flex-col justify-center items-center py-[18px] bg-white rounded-3xl shadow-[0_10px_20px_0_rgba(0,0,0,0.05)] w-full max-w-[127px]">
            <p class="text-base color-[#7C5E3B] leading-[130%]">2026</p>
            <p class="text-[52px] leading-[120%] color-[#84400F]">21</p>
            <p class="text-base color-[#7C5E3B] leading-[130%]">MAR</p>
          </div>
          <div class="flex flex-col gap-2 justify-center">
            <h3 class="font-bantayog text-[28px] leading-[130%] color-[#84400F] capitalize">Lorem Ipsum Sit Dolor</h3>
            <p class="font-nunito color-[#7C5E3B] text-[13px] leading-[150%]">
              Limit to 5 lines only. <br> Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
              Pellentesque sit amet. Pellentesque sit amet.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="bg-[#FFF3E5] rounded-2xl flex gap-5 p-[20px]">
          <div class="font-bantayog flex flex-col justify-center items-center py-[18px] bg-white rounded-3xl shadow-[0_10px_20px_0_rgba(0,0,0,0.05)] w-full max-w-[127px]">
            <p class="text-base color-[#7C5E3B] leading-[130%]">2026</p>
            <p class="text-[52px] leading-[120%] color-[#84400F]">22</p>
            <p class="text-base color-[#7C5E3B] leading-[130%]">MAR</p>
          </div>
          <div class="flex flex-col gap-2 justify-center">
            <h3 class="font-bantayog text-[28px] leading-[130%] color-[#84400F] capitalize">Lorem Ipsum Sit Dolor</h3>
            <p class="font-nunito color-[#7C5E3B] text-[13px] leading-[150%]">
              Limit to 5 lines only. <br> Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
              Pellentesque sit amet. Pellentesque sit amet.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="bg-[#FFF3E5] rounded-2xl flex gap-5 p-[20px]">
          <div class="font-bantayog flex flex-col justify-center items-center py-[18px] bg-white rounded-3xl shadow-[0_10px_20px_0_rgba(0,0,0,0.05)] w-full max-w-[127px]">
            <p class="text-base color-[#7C5E3B] leading-[130%]">2026</p>
            <p class="text-[52px] leading-[120%] color-[#84400F]">23</p>
            <p class="text-base color-[#7C5E3B] leading-[130%]">MAR</p>
          </div>
          <div class="flex flex-col gap-2 justify-center">
            <h3 class="font-bantayog [28px] leading-[130%] color-[#84400F] capitalize">Lorem Ipsum Sit Dolor</h3>
            <p class="font-nunito color-[#7C5E3B] text-[13px] leading-[150%]">
              Limit to 5 lines only. <br> Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
              Pellentesque sit amet. Pellentesque sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
