{% load static %}
<section id="call-for-x" class="py-20 md:py-36 px-[4%] bg_call-for-links relative">
    <div class="container mx-auto px-[4%]">
        <img src="{% static 'img/vectors/section-divider-03.svg' %}" alt="Section Break" class="w-full py-0 my-0 z-10 cstm_top block divider-03">
        <!-- Header -->
        <div class="text-center md:mb-16 mb-8">
            <h2 class="text-5xl md:text-6xl font-bold mb-4 font-td_pinoy text-white">Get Involved</h2>
            <p class="text-[28px] font-bantayog uppercase text-white">Magic happens when people come together to achieve
                common goals.</p>
        </div>
        <div
            class="flex flex-col sm:flex-row md:items-stretch md:justify-center items-center gap-8 max-w-5xl mx-auto">

            <div
                class="p-8 rounded-2xl w-full max-w-[300px] min-h-[350px] bg-offwhite-2 border-t-[8px] border-t-[#B04301] h-[250px]">
                <div class="mb-6">
                    <h3 class="text-4xl font-bold mb-0 font-bantayog text-brown-1">CALL FOR POSTERS</h3>
                </div>
                <div class="space-y-3">
                    <h4 class="text-2xl mb-0 font-bantayog text-brown-3 font-bold">LINK:</h4>
                    <a class="text-lg font-bold mb-2 font-bantayog text-brown-2 leading-none underline pointer"
                        href="https://forms.gle/roh4AGitH68HVn746" target="_blank">forms.gle/roh4AGitH68HVn746</a>
                </div>
            </div>
            <div
                class="p-8 rounded-2xl w-full max-w-[300px] min-h-[350px] bg-offwhite-2 border-t-[8px] border-t-[#ffa218] h-[250px]">
                <div class="mb-6">
                    <h3 class="text-4xl font-bold mb-0 font-bantayog text-brown-1">CALL FOR SPONSORS</h3>
                </div>
                <div class="space-y-3">
                    <h4 class="text-2xl font-bold mb-0 font-bantayog text-brown-3">LINK:</h4>
                    <a class="text-lg font-bold mb-2 font-bantayog text-brown-2 leading-none underline pointer"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd9yOxboIXUv4_nUnzeywojCjEagSfCFKs1D2-onUU4fjzl9g/viewform"
                        target="_blank">bit.ly/PythonAsia2026-CallForSponsors</a>
                </div>
            </div>
        </div>
        <img src="{% static 'img/vectors/section-divider-04.svg' %}" alt="Section Break" class="w-full py-0 my-0 z-10 cstm_bottom block divider-04">
    </div>
</section>
