{% load static %}

<section id="hero" class="px-[4%] flex flex-col items-center justify-end">
  <div class="flex flex-col max-w-[730px] mx-auto pb-[20px] pt-[180px] xl:pb-[50px] xl:pt-[150px] 2xl:pb-[100px]
    2xl:pt-[250px] gap-5">
    <div class="flex flex-col justify-center items-center gap-8">
      <img src="{% static 'img/vectors/kalinga-baybayin.svg' %}" alt="kliN" class="w-full max-w-[189px]">
      <img src="{% static 'img/kalinga.png' %}" alt="Kalinga" class="w-full max-w-[336.34px]">
      <img src="{% static 'img/vectors/python-asia-branding.png' %}" alt="PythonAsia 2026" fetchpriority="high">
    </div>
    <div class="text-center z-10">
      <p class="font-nunito leading-[125%] font-normal text-2xl text-brown-2">Nurturing a community of care, compassion,
        and growth.</p>
      <p class="font-nunito leading-[125%] font-normal text-2xl text-brown-2">The same heart of PyCon APAC, now as
        PythonAsia.</p>
    </div>
    <div class="text-center z-10">
      <h2 class="font-bantayog leading-[125%] text-[52px] text-brown-1">MARCH 21-23, 2026</h2>
      <p class="font-bantayog leading-[125%] text-xl text-brown-2 font-light">DE LA SALLE UNIVERSITY (DLSU), MALATE,
        MANILA</p>
    </div>
    <div class="python-kalinga-pot">
      <img class="pot" src="{% static 'img/py_kalinga-pot.svg' %}" alt="Kalinga pot" width="500" height="500">
      <div class="">
        <h2 class="font-bantayog text-[28px] text-white text-center">Co-organized By</h2>
        <div class="flex flex-row items-center justify-center gap-[45px] co-organized">
          <img src="{% static 'img/footer/pythonph.svg' %}" alt="PythonPH" class="w-full max-w-[210px]" width="210"
            height="60">
          <img src="{% static 'img/footer/pythonasia.svg' %}" alt="Python Asia Organization"
            class="w-full max-w-[320px]" width="320" height="60">
          <img src="{% static 'img/footer/dlsu.svg' %}" alt="DLSU" class="w-full max-w-[110px]" width="110" height="60">
        </div>
      </div>
    </div>
  </div>

</section>
