{% load static %}

<div class="text-center relative max-w-[940px] mx-auto">
  <h2 class="text-5xl font-bold mb-6 font-td_pinoy" style="color: #BD4B06;">Tickets Available</h2>
  <p class="text-lg mb-8 max-w-3xl mx-auto font-nunito" style="color: #7C5E3B">
  Join us as we learn something new, teach something new, find opportunities, build cool things,
  <br />
  make friends, and geek out!
  </p>
  <div class="flex justify-between items-center relative max-w-[550px] gap-8 mx-auto">
    <!-- Left Python Logo -->
    <div>
      <img src="{% static 'img/python-blue.png' %}" alt="Python Logo" class="w-32 h-auto" width="128" height="128">
    </div>
    <!-- Get Tickets Button -->
    <div class="inline-block">
      <a href="https://ti.to/pythonph/pythonasia-2026/" target="_blank"
         class="inline-block px-4 py-2 md:px-12 md:py-6 text-white font-bold  text-base sm:text-xl uppercase rounded-lg transition-all hover:opacity-90 mb-5"
         style="background-color: #D87A3F">Get Tickets</a>
    </div>
    <!-- Right Python Logo -->
    <div>
      <img src="{% static 'img/python-yellow.png' %}" alt="Python Logo" class="w-32 h-auto" width="128" height="128">
    </div>
  </div>
</div>
