{% extends "base.html" %}

{% load static %}
{% block extra_css %}
<style>
  .cstm_bottom{
    position: absolute;
    bottom: -65px;
    left: 0;
  }

  .cstm_top{
    position: absolute;
    top: -65px;
    left: 0;
  }

  #conference-at-a-glance {
    background: url('{% static 'img/bg-conference-at-glance.png' %}'), #FFF9F2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
{% endblock %}
{% block content %}
<main>
    <div class="min-h-screen" style="background-image: url('{% static 'img/background.png' %}')">
        <!-- Navbar -->
        {% include "home/components/navbar.html" %}
        <!-- Hero Section -->
        {% include "home/sections/hero-section.html" %}
        <!-- About Us Section -->
        {% include "home/sections/about-us.html" %}
        <!-- Section Break -->
        <!-- Conference at a Glance Section -->
        {% include "home/sections/conference-at-a-glance.html" %}
        <!-- Why Python Section -->
        {% include "home/sections/why-python.html" %}
        <!-- Call For X -->
        {% include "home/sections/call-for-x.html" %}
        <!-- What is PyCon Section -->
        {% comment%}{% include "home/sections/what-is-python-asia.html" %}{% endcomment%}
        <!-- Speakers Section -->
        {% include "home/sections/speakers-section.html" %}
        <!-- Announcement Section -->
        {% comment%}{% include "home/sections/announcement-section.html" %}{% endcomment%}
        <!-- When? Where? Section -->
        {% include "home/sections/when-where-section.html" %}
        <!-- Sponsors Section -->
        {% include "home/sections/sponsor-section.html" %}
        <div class="coc_footer_wrapper relative">
        <!-- Code of Conduct Section -->
        {% include "home/sections/code-of-conduct.html" %}
        <!-- Footer Section -->
        {% include "home/sections/footer.html" %}
        </div>
    </div>
</main>
{% endblock %}
