{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="min-h-screen" style="background-image: url('{% static 'img/background.png' %}')">
        <!-- Navbar -->
        {% include "home/components/navbar.html" %}
        <!-- Hero Section -->
        {% include "home/sections/hero-section.html" %}
        <div class="w-full py-0 my-0 z-10 -mb-25 hidden xl:block cstm_break mt-[-9vw]">
            <img src="{% static 'img/vectors/section-break-1.svg' %}" alt="Section Break" class="w-full block"
                width="1920" height="200">
        </div>
        <!-- About Us Section -->
        {% include "home/sections/about-us.html" %}
        <!-- Section Break -->
        <div class="w-full py-0 my-0  z-10 -mt-25 cstm_break about-us_break">
            <img src="{% static 'img/vectors/section-break-2.svg' %}" alt="Section Break" class="w-full block"
                width="1920" height="200">
        </div>
        <!-- Conference at a Glance Section -->
        {% include "home/sections/conference-at-a-glance.html" %}
        <!-- Why Python Section -->
        {% include "home/sections/why-python.html" %}
        <!-- Call For X -->
        {% include "home/sections/call-for-x.html" %}
        <!-- What is PyCon Section -->
        {% comment%}{% include "home/sections/what-is-python-asia.html" %}{% endcomment%}
        <!-- Speakers Section -->
        {% include "home/sections/speakers-section.html" %}
        <!-- Announcement Section -->
        {% comment%}{% include "home/sections/announcement-section.html" %}{% endcomment%}
        <!-- When? Where? Section -->
        {% include "home/sections/when-where-section.html" %}
        <!-- Sponsors Section -->
        {% include "home/sections/sponsor-section.html" %}
        <!-- Code of Conduct Section -->
        {% include "home/sections/code-of-conduct.html" %}
        <!-- Footer Section -->
        {% include "home/sections/footer.html" %}
    </div>
</main>
{% endblock %}